.bg-form{
    width: 100%;
    background-color: lightgoldenrodyellow;
    padding: 2% 1% 1%;
}
.bg-list-term{
    background-color: lightgreen;
    color: blue;
    margin: 20px auto;
    padding: 20px 10px;
}
.bg-list-completed{
    background-color: lightsalmon;
    color: blue;
    margin: 20px auto;
    padding: 20px 10px;
}
.bg-list{
    background-color: lavenderblush;
}
.check-completed{
    position: absolute;
    right: 72px;
    top:3px;
}
ol li{
    position: relative;
    padding: 10px 5%;
    margin: 0;
}
ol#ulList li:nth-child(odd){
    background-color: white;
}
ol#ulList{
    padding: 0;
}
.del{
    position: absolute;
    right: 9px;
    top: 3px;
}
.modal-css{
    position: fixed;
    left: 40%;
    top:20%;
}
@media screen and (max-width: 768px) {
    .container, .row{
        margin: 0;
        padding: 0;
    }
}
@media screen and (min-width: 768px) and (max-width: 991px){
    .container{
        width: auto!important;
    }
}